.featuredProjects {
  $self: &;

  &-project {
    display: block;
    position: relative;
    z-index: 0;

    & + #{$self}-project {
      margin-top: 264px;
    }

    &.is-horizontal {
      #{$self}-projectMedia {
        top: calc(100% - 80px);
        left: calc(16.66% - 32px);
        width: calc(83.33% + 64px);
      }
    }

    &.is-vertical {
      #{$self}-projectMedia {
        top: calc(100% - 40px);
        left: -32px;
        width: calc(50% + 64px);
      }
    }

    &.is-smallHorizontal {
      #{$self}-projectMedia {
        position: relative;
        margin-top: 32px;
        left: calc(33.33% - 32px);
        width: calc(58.33% + 64px);
      }
    }
  }

  &-projectInfo {
    display: block;
    position: relative;
  }

  &-projectClient {
    display: block;
    position: relative;
    @include typo-rwd(body);
    color: $white;
    z-index: 1;
  }

  &-projectTitle {
    display: block;
    position: relative;
    margin-top: 40px;
    @include typo-rwd(claim);
    color: $white;
    cursor: pointer;
    z-index: 1;
  }

  &-projectMedia {
    display: block;
    position: absolute;
    height: auto;
    z-index: 0;

    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba($black, 0.6);
    }

    img,
    video {
      display: block;
      position: relative;
      width: 100%;
      height: auto;
    }
  }

  @include mq(sm) {
    // Needs refactorize text
    &-projectTitle {
      font-size: 40px;
    }

    &-project.is-horizontal #{$self}-projectMedia {
      left: calc(16.66% - 48px);
      width: calc(83.33% + 96px);
    }

    &-project.is-vertical #{$self}-projectMedia {
      left: -48px;
      width: calc(50% + 96px);
    }

    &-project.is-smallHorizontal #{$self}-projectMedia {
      left: calc(33.33% - 48px);
      width: calc(58.33% + 96px);
    }
  }

  @include mq(md) {
    &-project + #{$self}-project {
      margin-top: 280px;
    }

    &-project.is-horizontal {
      display: flex;
      align-items: center;
      flex-direction: row;
      flex-wrap: nowrap;

      #{$self}-projectInfo {
        min-width: 50%;
      }

      #{$self}-projectMedia {
        position: relative;
        margin-left: -16.66%;
        top: auto;
        left: auto;
        min-width: 66.66%;
        transform: none;
      }
    }

    &-project.is-vertical {
      display: flex;
      align-items: center;
      flex-direction: row-reverse;
      flex-wrap: nowrap;

      #{$self}-projectInfo {
        width: 50%;
      }

      #{$self}-projectMedia {
        flex: 1;
        position: relative;
        top: auto;
        left: auto;
        margin: 0 8.33%;
        box-sizing: border-box;
      }
    }

    &-project.is-smallHorizontal {
      display: flex;
      align-items: flex-start;
      flex-direction: row;
      flex-wrap: nowrap;

      #{$self}-projectInfo {
        width: 50%;
      }

      #{$self}-projectMedia {
        position: relative;
        margin-top: 142px;
        left: auto;
        margin-left: 8.33%;
        width: 41.66%;
      }
    }
  }

  @include mq(xxl) {
    &-project.is-horizontal {
      #{$self}-projectMedia {
        margin-left: -20%;
        width: 60%;
      }
    }
  }
}
